#top-card-1 {
  background-color: #2471a3;
  background-image: linear-gradient(to bottom, #e92813, #945957);
}
#top-card-2 {
  background-color: #99a3a4;
  background-image: linear-gradient(to bottom, #0df3f3e5, #427469);
}
#top-card-3 {
  background-color: #16a085;
  background-image: linear-gradient(to bottom, #0fd6ae, #435f5f);
}
#top-card-4 {
  background-color: #cb4335;
  background-image: linear-gradient(to bottom, #0b5991, #4f96aa);
}
.location-card .card-header {
  background: #ffffff;
}
.location-card .card-body .row {
  padding-bottom: 40%;
  position: relative;
}

.location-card .card-body .row iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
